@import '../../../common/assets/common';

  $header-height: 64px;

  .title-text {
    color: var(--theme-primary-A700);
  }

  /**
  * Test button colors
  */
  .pink {
    background-color: var(--pink-accent);
    color: var(--initial-dark-text);
  }

  .yellow {
    background-color: var(--yellow-accent);
  }

  .theme-builder-content {
    box-sizing: border-box;
    display: flex;
    height: calc(100% - #{$header-height});
    justify-content: center;
    padding: 10px;
  }

  /**
  * Div background colors
  */
  .primary-color {
    background-color: var(--theme-primary-400);
  }
  
  .accent-color {
    background-color: var(--theme-accent-400);
  }
  
  .warn-color {
    background-color: var(--theme-warn-400);
  }