@import "../../../../../node_modules/@lcu/common/assets/styles/fathym-global.styles";
@import '../../../../../node_modules/@lcu/common/assets/theming/common-theme';

$primary: map-get($global-theme, primary);
$accent: map-get($global-theme, accent);
$warn: map-get($global-theme, warn);
$background: map-get($global-theme, background);
$foreground: map-get($global-theme, foreground);
$orange-accent: map-get($mat-orange, 500);
$green-accent: map-get($mat-green, A400);
$yellow-accent: map-get($mat-yellow, 600);
$purple-accent: map-get($mat-purple, 500);
$cyan-accent: rgba(map-get($mat-cyan, A100), .75);
$pink-accent: map-get($mat-pink, 500);
$success:  map-get($mat-green, A700);

  /**
  * Set initial color values
  */
:root {
  /**
  * Set initial theme color values
  * these are pulled from the current theme, but can be whomever.
  */
    --initial-primary: #{mat-color($primary)};
    --initial-accent: #{mat-color($accent)};
    --initial-warn: #{mat-color($warn)};
    --initial-dark-background: #222222;
    --initial-light-background: #f2f2f2;
    // --initial-dark-background: #{invert(mat-color($background, card))};
    // --initial-light-background: #{mat-color($background, card)};
    --initial-light-text: #{map-get(map-get($global-theme, 'foreground'), 'text')};
    --initial-dark-text: #{invert(map-get(map-get($global-theme, 'foreground'), 'text'))};

    --background: #{invert(map-get($background, background))};

    /**
    * Brand accent colors
    */
    --orange-accent: #{map-get($mat-orange, 500)};
    --green-accent: #{map-get($mat-green, A400)};
    --yellow-accent: #{map-get($mat-yellow, 600)};
    --purple-accent: #{map-get($mat-purple, 500)};
    --cyan-accent: #{rgba(map-get($mat-cyan, A100), .75)};
    --pink-accent: #{map-get($mat-pink, 500)};

    // test for digging into palette maps using CSS variables
    // no worky-o, yet 
    --primary-palette-map: #{$primary};
}


/**
*   Create theme palette
*/
// @mixin light-dark-mode($isDark) {
//     @if $isDark == false {
//         $light-theme: mat-light-theme(
//             mat-palette($primary), 
//             mat-palette($accent), 
//             mat-palette($warn)
//         );
//         @include theme-setup($global-theme);
        
//     } @else {
//         $dark-theme: mat-dark-theme(
//             mat-palette($primary), 
//             mat-palette($accent), 
//             mat-palette($warn)
//         );
//         @include theme-setup($altTheme, true);
//     }
// }

/** 
*   Set to the dark theme
*/
// :root[theme-mode='dark'] {
//   // @include light-dark-mode(true);
// }

/** 
*   Set to the light theme
*/
// :root[theme-mode='light'] {
//   // @include light-dark-mode(false);
// }
