@import '~@angular/material/theming';
@import "../../../node_modules/@lcu/common/assets/styles/fathym-global.styles";
@import "../../../node_modules/@lcu/common/assets/styles/branding/fathym-branding";
@import "../../../node_modules/@lcu/common/assets/theming/fathym_themes";

/**
*   Dynamic theme palette
*/
@import "./theme-palette.scss";

@include mat-core();

/**
*   Setup the theme
*/
@mixin theme-setup($theme) {
    @include angular-material-theme($theme);
    @include theme-extras($theme);

    :export {
        primarySucka: mat-color(map-get($theme, primary));
        accentSucka: mat-color(map-get($theme, accent));
    }
}

/**
*   Build out the theme
*/
@function dynamic-theme($primary, $accent, $warn, $isDark: false) {
    $theme: mat-light-theme(
        $primary,
        $accent,
        $warn
      );
    @if $isDark {
        $theme: mat-dark-theme(
            $primary,
            $accent,
            $warn
          );
    }

    @return $theme;
}

/**
*   Return the current theme
*/
@function get-dynamic-theme($isDark: false) {
    $primary: mat-palette($dynamic-theme-primary);
    $accent: mat-palette($dynamic-theme-secondary);
    $warn: mat-palette($dynamic-theme-warn);

    @return dynamic-theme($primary, $accent, $warn, $isDark);
}

:export {
    primarySucka: mat-color(map-get(get-dynamic-theme(), primary));
    accentSucka: mat-color(map-get(get-dynamic-theme(), accent));
  }

@mixin primary-logo($logo, $theme, $opacity) {
    .primary-logo {
      background-image: fathym-logo(
        $logo,
        mat-color(map-get($theme, accent)),
        $opacity
      );
    }
  }

// .fathym-arctic-theme {
//     $theme: fathym-arctic-theme(true);
//     @include theme-setup($theme);
//     @include primary-logo(thinky-full-logo, $theme, 1);
// }
  
// .fathym-contrast-theme {
//     $theme: fathym-contrast-theme(false);
//     @include theme-setup($theme);
//     @include primary-logo(thinky-full-logo, $theme, 1);
// }

// .fathym-cool-candy-theme {
//     $theme: fathym-cool-candy-theme(true);
//     @include theme-setup($theme);
//     @include primary-logo(thinky-full-logo, $theme, 1);
// }

// .fathym-flipper-theme {
//     $theme: fathym-flipper-theme(true);
//     @include theme-setup($theme);
//     @include primary-logo(thinky-full-logo, $theme, 1);
// }

// .fathym-ice-theme {
//     $theme: fathym-ice-theme();
//     @include theme-setup($theme);
//     @include primary-logo(thinky-full-logo, $theme, 1);
// }

// .fathym-sea-green-theme {
//     $theme: fathym-sea-green-theme(true);
//     @include theme-setup($theme);
//     @include primary-logo(thinky-full-logo, $theme, 1);
// }

// .fathym-white-mint-theme {
//     $theme: fathym-white-mint-theme();
//     @include theme-setup($theme);
//     @include primary-logo(thinky-full-logo, $theme, 1);
// }

// .fathym-ivy-theme {
//     $theme: fathym-ivy-theme();
//     @include theme-setup($theme);
//     @include primary-logo(thinky-full-logo, $theme, 1);
// }

// @function dynamic-theme($isDark: false) {
//     $primary: mat-palette($dynamic-theme-primary);
//     $accent: mat-palette($dynamic-theme-secondary);
//     $warn: mat-palette($dynamic-theme-warn, 500);

//     @return fathym-theme($primary, $accent, $warn, $isDark);
// }

/**
*   Create theme palette
*/
@mixin theme-palette($isDark) {
    @if $isDark == false {
            $light-theme: mat-light-theme(
            mat-palette($dynamic-theme-primary), 
            mat-palette($dynamic-theme-secondary), 
            mat-palette($dynamic-theme-warn)
        );
        @include theme-setup($light-theme);
        
    } @else {
        $dark-theme: mat-dark-theme(
            mat-palette($dynamic-theme-primary), 
            mat-palette($dynamic-theme-secondary), 
            mat-palette($dynamic-theme-warn)
        );
        @include theme-setup($dark-theme);
    }
}

/** 
*   Set to the dark theme
*/
:root[theme-mode='dark'] {
    @include theme-palette(true);
}

/** 
*   Set to the light theme
*/
:root[theme-mode='light'] {
    @include theme-palette(true);
}

/**
*    Get things started
*/
@include theme-palette(false);