// SASS MEISTER

$THEME: (
    _is-legacy-theme: true,
    test: #444,
    color: (
       50: #ff9900,
    primary: (
    50: #f4f7f6,
    100: #e4eae8,
    200: #d2ddd9,
    300: #bfcfca,
    400: #b2c4be,
    500: #a4bab3,
    600: #9cb3ac,
    700: #92aba3,
    800: #89a39a,
    900: #78948b,
    A100: #a5c8c7,
    A200: #80b2b0,
    A400: #65a29f,
    A700: #4a918e,
    contrast: (
    50: #282d35,
    100: #282d35,
    200: #282d35,
    300: #282d35,
    400: #282d35,
    500: #282d35,
    600: #282d35,
    700: #282d35,
    800: #282d35,
    900: #282d35,
    A100: #282d35,
    A200: #282d35,
    A400: #282d35,
    A700: #282d35
    ),
    default: #a4bab3,
    lighter: #e4eae8,
    darker: #92aba3,
    text: #a4bab3,
    default-contrast: #282d35,
    lighter-contrast: #282d35,
    darker-contrast: #282d35,
    "50-contrast": #282d35,
    "100-contrast": #282d35,
    "200-contrast": #282d35,
    "300-contrast": #282d35,
    "400-contrast": #282d35,
    "500-contrast": #282d35,
    "600-contrast": #282d35,
    "700-contrast": #282d35,
    "800-contrast": #282d35,
    "900-contrast": #282d35,
    "A100-contrast": #282d35,
    "A200-contrast": #282d35,
    "A400-contrast": #282d35,
    "A700-contrast": #282d35,
    "contrast-contrast": null
    ),
    accent: (
    50: #f3fafa,
    100: #e1f3f3,
    200: #ceeceb,
    300: #bae4e2,
    400: #abdedc,
    500: #9cd8d6,
    600: #94d4d1,
    700: #8acecc,
    800: #80c8c6,
    900: #6ebfbc,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #f5fffe,
    contrast: (
    50: #202020,
    100: #202020,
    200: #202020,
    300: #202020,
    400: #202020,
    500: #202020,
    600: #202020,
    700: #202020,
    800: #202020,
    900: #202020,
    A100: #202020,
    A200: #202020,
    A400: #202020,
    A700: #202020
    ),
    default: #9cd8d6,
    lighter: #e1f3f3,
    darker: #8acecc,
    text: #9cd8d6,
    default-contrast: #202020,
    lighter-contrast: #202020,
    darker-contrast: #202020,
    "50-contrast": #202020,
    "100-contrast": #202020,
    "200-contrast": #202020,
    "300-contrast": #202020,
    "400-contrast": #202020,
    "500-contrast": #202020,
    "600-contrast": #202020,
    "700-contrast": #202020,
    "800-contrast": #202020,
    "900-contrast": #202020,
    "A100-contrast": #202020,
    "A200-contrast": #202020,
    "A400-contrast": #202020,
    "A700-contrast": #202020,
    "contrast-contrast": null
    ),
    warn: (
    50: #f8e7e8,
    100: #edc3c7,
    200: #e29ca1,
    300: #d6747b,
    400: #cd565f,
    500: #c43843,
    600: #be323d,
    700: #b62b34,
    800: #af242c,
    900: #a2171e,
    A100: #ffd6d8,
    A200: #ffa3a7,
    A400: #ff7075,
    A700: #ff575d,
    contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
    ),
    default: #c43843,
    lighter: #edc3c7,
    darker: #b62b34,
    text: #c43843,
    default-contrast: #ffffff,
    lighter-contrast: #000000,
    darker-contrast: #ffffff,
    "50-contrast": #000000,
    "100-contrast": #000000,
    "200-contrast": #000000,
    "300-contrast": #000000,
    "400-contrast": #ffffff,
    "500-contrast": #ffffff,
    "600-contrast": #ffffff,
    "700-contrast": #ffffff,
    "800-contrast": #ffffff,
    "900-contrast": #ffffff,
    "A100-contrast": #000000,
    "A200-contrast": #000000,
    "A400-contrast": #000000,
    "A700-contrast": #000000,
    "contrast-contrast": null
    ),
    is-dark: false,
    foreground: (
    base: black,
    divider: rgba(0, 0, 0, 0.12),
    dividers: rgba(0, 0, 0, 0.12),
    disabled: rgba(0, 0, 0, 0.38),
    disabled-button: rgba(0, 0, 0, 0.26),
    disabled-text: rgba(0, 0, 0, 0.38),
    elevation: black,
    hint-text: rgba(0, 0, 0, 0.38),
    secondary-text: rgba(0, 0, 0, 0.54),
    icon: rgba(0, 0, 0, 0.54),
    icons: rgba(0, 0, 0, 0.54),
    text: rgba(0, 0, 0, 0.87),
    slider-min: rgba(0, 0, 0, 0.87),
    slider-off: rgba(0, 0, 0, 0.26),
    slider-off-active: rgba(0, 0, 0, 0.38)
    ),
    background: (
    status-bar: #e0e0e0,
    app-bar: #f5f5f5,
    background: #fafafa,
    hover: rgba(0, 0, 0, 0.04),
    card: white,
    dialog: white,
    disabled-button: rgba(0, 0, 0, 0.12),
    raised-button: white,
    focused-button: rgba(0, 0, 0, 0.12),
    selected-button: #e0e0e0,
    selected-disabled-button: #bdbdbd,
    disabled-button-toggle: #eeeeee,
    unselected-chip: #e0e0e0,
    disabled-list-option: #eeeeee,
    tooltip: #616161
    )
    ),
    primary: (
    50: #f4f7f6,
    100: #e4eae8,
    200: #d2ddd9,
    300: #bfcfca,
    400: #b2c4be,
    500: #a4bab3,
    600: #9cb3ac,
    700: #92aba3,
    800: #89a39a,
    900: #78948b,
    A100: #a5c8c7,
    A200: #80b2b0,
    A400: #65a29f,
    A700: #4a918e,
    contrast: (
    50: #282d35,
    100: #282d35,
    200: #282d35,
    300: #282d35,
    400: #282d35,
    500: #282d35,
    600: #282d35,
    700: #282d35,
    800: #282d35,
    900: #282d35,
    A100: #282d35,
    A200: #282d35,
    A400: #282d35,
    A700: #282d35
    ),
    default: #a4bab3,
    lighter: #e4eae8,
    darker: #92aba3,
    text: #a4bab3,
    default-contrast: #282d35,
    lighter-contrast: #282d35,
    darker-contrast: #282d35,
    "50-contrast": #282d35,
    "100-contrast": #282d35,
    "200-contrast": #282d35,
    "300-contrast": #282d35,
    "400-contrast": #282d35,
    "500-contrast": #282d35,
    "600-contrast": #282d35,
    "700-contrast": #282d35,
    "800-contrast": #282d35,
    "900-contrast": #282d35,
    "A100-contrast": #282d35,
    "A200-contrast": #282d35,
    "A400-contrast": #282d35,
    "A700-contrast": #282d35,
    "contrast-contrast": null
    ),
    accent: (
    50: #f3fafa,
    100: #e1f3f3,
    200: #ceeceb,
    300: #bae4e2,
    400: #abdedc,
    500: #9cd8d6,
    600: #94d4d1,
    700: #8acecc,
    800: #80c8c6,
    900: #6ebfbc,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #f5fffe,
    contrast: (
    50: #202020,
    100: #202020,
    200: #202020,
    300: #202020,
    400: #202020,
    500: #202020,
    600: #202020,
    700: #202020,
    800: #202020,
    900: #202020,
    A100: #202020,
    A200: #202020,
    A400: #202020,
    A700: #202020
    ),
    default: #9cd8d6,
    lighter: #e1f3f3,
    darker: #8acecc,
    text: #9cd8d6,
    default-contrast: #202020,
    lighter-contrast: #202020,
    darker-contrast: #202020,
    "50-contrast": #202020,
    "100-contrast": #202020,
    "200-contrast": #202020,
    "300-contrast": #202020,
    "400-contrast": #202020,
    "500-contrast": #202020,
    "600-contrast": #202020,
    "700-contrast": #202020,
    "800-contrast": #202020,
    "900-contrast": #202020,
    "A100-contrast": #202020,
    "A200-contrast": #202020,
    "A400-contrast": #202020,
    "A700-contrast": #202020,
    "contrast-contrast": null
    ),
    warn: (
    50: #f8e7e8,
    100: #edc3c7,
    200: #e29ca1,
    300: #d6747b,
    400: #cd565f,
    500: #c43843,
    600: #be323d,
    700: #b62b34,
    800: #af242c,
    900: #a2171e,
    A100: #ffd6d8,
    A200: #ffa3a7,
    A400: #ff7075,
    A700: #ff575d,
    contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
    ),
    default: #c43843,
    lighter: #edc3c7,
    darker: #b62b34,
    text: #c43843,
    default-contrast: #ffffff,
    lighter-contrast: #000000,
    darker-contrast: #ffffff,
    "50-contrast": #000000,
    "100-contrast": #000000,
    "200-contrast": #000000,
    "300-contrast": #000000,
    "400-contrast": #ffffff,
    "500-contrast": #ffffff,
    "600-contrast": #ffffff,
    "700-contrast": #ffffff,
    "800-contrast": #ffffff,
    "900-contrast": #ffffff,
    "A100-contrast": #000000,
    "A200-contrast": #000000,
    "A400-contrast": #000000,
    "A700-contrast": #000000,
    "contrast-contrast": null
    ),
    is-dark: false,
    foreground: (
    base: black,
    divider: rgba(0, 0, 0, 0.12),
    dividers: rgba(0, 0, 0, 0.12),
    disabled: rgba(0, 0, 0, 0.38),
    disabled-button: rgba(0, 0, 0, 0.26),
    disabled-text: rgba(0, 0, 0, 0.38),
    elevation: black,
    hint-text: rgba(0, 0, 0, 0.38),
    secondary-text: rgba(0, 0, 0, 0.54),
    icon: rgba(0, 0, 0, 0.54),
    icons: rgba(0, 0, 0, 0.54),
    text: rgba(0, 0, 0, 0.87),
    slider-min: rgba(0, 0, 0, 0.87),
    slider-off: rgba(0, 0, 0, 0.26),
    slider-off-active: rgba(0, 0, 0, 0.38)
    ),
    background: (
    status-bar: #e0e0e0,
    app-bar: #f5f5f5,
    background: #fafafa,
    hover: rgba(0, 0, 0, 0.04),
    card: white,
    dialog: white,
    disabled-button: rgba(0, 0, 0, 0.12),
    raised-button: white,
    focused-button: rgba(0, 0, 0, 0.12),
    selected-button: #e0e0e0,
    selected-disabled-button: #bdbdbd,
    disabled-button-toggle: #eeeeee,
    unselected-chip: #e0e0e0,
    disabled-list-option: #eeeeee,
    tooltip: #616161
    )
);


$global-theme: $THEME;

.test {
    color: map-get($global-theme, test);
    background: map-get(map-get($global-theme, color), 50);
    background-color: map-get(map-get($global-theme, primary), A700);
}

// $products: class1, class2, class3, class4;    
// $product_colors: #C00, #00C, #0C0, #000;

// $i: 1;
// @each $class in $products {
//     .page-#{$class} {
//         a {
//             color: nth($product_colors, $i)
//         }
//     }
//   $i: $i + 1;
// }

// .example {
//   unquoted: #{"string"};
//   string.unquote($string)!
// }

// placeholders
%bg-dark {
    background-color: #000;
}
%bg-white{
    background-color: #FFF;
}

:root {
  --color-primary: #2dd36f;
  --color-primary-rgb: 45, 211, 111;
  
  --ttest: (
        50: #ffcc11,
        100: #ff0000
    );
   // --css-primary: #{$primary};
}

$string : 'This';

.string-test {
    content: #{$string};
}

@mixin set-styles($arg) {
    @extend %bg-#{$arg};
}
.header {
    @include set-styles("dark");
}

.hex-bg {
  background-color: var(--color-primary);
}

.rgba-bg {
  background-color: rgba(var(--color-primary-rgb), 0.5);
}

/**
* Write a mixin or function that returns a theme, that can be set to
* a local $global-theme variable?
**/

$primary: map-get($global-theme, primary);
$accent: map-get($global-theme, accent);

// https://itnext.io/advanced-use-of-sass-maps-bd5a47ca0d1a
// @mixin debug-map($map) {
//     @at-root {
//         @debug-map {
//             __toString__: inspect($map);
//             __length__: length($map);
//             __keys__: map-keys($map);
//             __properties__ {
//                 @each $key, $value in $map {
//                     #{$key}: inspect($value);
//                 }
//             }
//         }
//     }
// }
@include debug-map($primary);

