// @import '~@angular/material/theming';
@import '../../../node_modules/@lcu/common/assets/styles/fathym-global.styles';
@import '../../../node_modules/@lcu/common/assets/styles/branding/colors/fathym-theme-colors';


$themes-map: (
  indigo-pink: (
    primary-base: $mat-indigo,
    accent-base: $mat-pink,
  ),

  deeppurple-amber: (
    primary-base: $mat-deep-purple,
    accent-base: $mat-amber,
  ),

  pink-bluegrey: (
    primary-base: $mat-pink,
    accent-base: $mat-blue-gray,
  ),

  purple-green: (
    primary-base: $mat-purple,
    accent-base: $mat-green,
  ),

  fathym-ivy: (
    primary-base: $fathym-ivy-primary,
    accent-base: $fathym-ivy-accent,
  ),

  fathym-sea-green: (
    primary-base: $fathym-sea-green-primary,
    accent-base: $fathym-sea-green-accent,
  )
);